*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    background-color: rgb(255, 255, 255);
  }
  
body{
    justify-content: center;
    text-transform: capitalize;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }

.contenedor{
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin-left: 17%;
    margin-top: 5%;
}

.titulo{
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 800%;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    float: left;
    text-align: center;
    margin-bottom: 1%;
    margin-left: 25%;
    margin-right: 20%;
}


.card1{
  width: 100%;
  margin:30px;
  padding: 10px;
  border-radius: 15px;
  overflow: hidden;
  background: #E9500E;
  box-shadow: 1px 3px 15px rgba(0,0,0,0.2);
  cursor:default; /*No cambia a modo insertar texto*/
  transition: all 400ms ease;/* para que las transiciones sean suaves */
  margin-top: 20%;
  margin-left: 20%;
}

.card1:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4); 
  transform:translateY(-5%)
}
.card1 img{
  border-radius: 5px;
  box-shadow: 1px 3px 15px rgba(0,0,0,0.4);
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.card1 .contenido{
  padding: 15px;
  text-align: center;
  }
.card1 .contenido p{
    line-height: 1.3;
    color: wh;
    margin-bottom: 25px;
  }
.card1 .contenido h3{
  font-weight: 400;
  margin-bottom: 15px;
}
.card1 .contenido a{
  margin-bottom: 15px;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  color:#E9500E;
  border: 1px solid #E9500E;
  border-radius: 5px;
  transition: all 400ms ease;
}
.card1 .contenido a:hover{
  background-color: #E9500E;
  color: white;
}

.card2{
  width: 100%;
  margin:30px;
  padding: 10px;
  border-radius: 15px;
  overflow: hidden;
  background: #00BDFA;
  box-shadow: 1px 3px 15px rgba(0,0,0,0.2);
  cursor:default; /*No cambia a modo insertar texto*/
  transition: all 400ms ease;/* para que las transiciones sean suaves */
  margin-top: 20%;
  margin-left: 20%;
}

.card2:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4); 
  transform:translateY(-5%)
}
.card2 img{
  border-radius: 5px;
  box-shadow: 1px 3px 15px rgba(0,0,0,0.4);
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.card2 .contenido{
  padding: 15px;
  text-align: center;
  }
.card2 .contenido p{
    line-height: 1.3;
    color: wh;
    margin-bottom: 25px;
  }
.card2 .contenido h3{
  font-weight: 400;
  margin-bottom: 15px;
}
.card2 .contenido a{
  margin-bottom: 15px;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  color:#00BDFA;
  border: 1px solid #00BDFA;
  border-radius: 5px;
  transition: all 400ms ease;
}
.card2 .contenido a:hover{
  background-color: brown;
  color: white;
}
