*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }

.titulo{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 60px;
}
  
.body{
      font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #2d3b46;
    font-size: xx-large;
}
a{
    color: #ffffff;
}
  
.grid-layout{
    display: grid;
    grid-template-columns: 24% 40% 60%;
    grid-template-rows: 7% 20% 120%;
    /*justify-content: center;*/
    width: 1530px;
    height: 500px;
    margin: 0;
    padding: 20px;
}
  
.caja2{
    grid-column: 2/4;
    grid-row: 2/4;
    background-color: #ffffff;
    background-image: url(Imagenes/LogoWindows2.png);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    font-size: 55%;
    padding-left: 2%;
      
}
.caja2 .texto{
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 17%;
    margin-right: 30%;
    margin-left: 30%;
}
  
.caja3{
      grid-column: 1;
      grid-row: 2/4;
      background-color: #394b58;
      font-size: 20px;
      color: #ffffff;
}
  
.volver{
    text-align: center;
    margin-top: 90%;
    font-size: large;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 60px;
    text-decoration: none;
}

#imgHab{
    width: 1000px;
    height: 600px;
}

#imgLinux{
    width: 1000px;
    height: 600px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #2d3b46;
  }
  
  .footer{
    background-color: #2d3b46;;
    padding: 80px 0;
    margin-top: 7%;
    margin-left: 25%;
    height: 100px;
  }
  
  .footer-row{
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-links{
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-links h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
  }
  
.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
  }
  
  .footer-links ul li a:hover{
    color: #ffffff;
    padding-left: 6px;
  }
  
  .social-links a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;
  }
  
  .social-links a:hover{
    background-color: #00c3ff;
  }
  
  @media(max-width:991px){
    .footer-row{
      text-align: center;
    }
  
    .footer-links{
      width: 100%;
      margin-bottom: 30px;
    }
  }